
{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Babylon Template</title>
        <style>
            #renderCanvas {
                width: 720px;
                height: 720px;
                touch-action: none;
            }

            th, td {
                padding: 15px;
            }

            h1 {
                text-align: center;
            }

            .centre {
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        

        <script src="https://cdn.babylonjs.com/babylon.js"></script> <!--TODO: REPLACE WITH PROPER CDN -->
        <script src="https://cdn.babylonjs.com/gui/babylon.gui.js"></script>
        <script src="https://cdn.babylonjs.com/nodeEditor/babylon.nodeEditor.js"></script>
        <script src="https://cdn.babylonjs.com/nodeGeometryEditor/babylon.nodeGeometryEditor.js"></script>
        <script src="https://cdn.babylonjs.com/guiEditor/babylon.guiEditor.js"></script>
        <script src="https://cdn.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
        <script src="https://cdn.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
        <script src="https://cdn.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
        <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
        <script src="https://cdn.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
        <script src="https://cdn.babylonjs.com/accessibility/babylon.accessibility.js"></script>

    </head>

   <body>
    {% include "navbar.html" %}
    <h1 >{{product.product_name}}</h1>

    <table  class="centre">
        <tr>
            <td>
                <canvas id="renderCanvas"></canvas>
                
            </td>
            <td valign="top">
                <!-- Controls -->
                <br>
                
                <div>
                    <br>
                    <button type="button" class="btn btn-dark" id="screenshot">screenshot</button>
                </div>
                <div>
                    <br>
                    <form method="POST" action="render_result/{{product.product_name}}" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="hidden" id="num_labels" name="num_labels" value="{{ num_labels|length }}" />
                        {% for i in num_labels %}
                        <input type="hidden" id="horizontal_offset{{ forloop.counter0 }}" name="horizontal_offset{{ forloop.counter0 }}"/> 
                        <input type="hidden" id="vertical_offset{{ forloop.counter0 }}" name="vertical_offset{{ forloop.counter0 }}"/> 
                        <input type="hidden" id="image_height{{ forloop.counter0 }}" name="image_height{{ forloop.counter0 }}"/> 
                        <input type="hidden" id="image_width{{ forloop.counter0 }}" name="image_width{{ forloop.counter0 }}"/> 
                        <input type="hidden" id="scale{{ forloop.counter0 }}" name="scale{{ forloop.counter0 }}"/> 
                        <input type="hidden" id="texture_name{{ forloop.counter0 }}" name="texture_name{{ forloop.counter0 }}"/>
                        <input type="hidden" id="texture_input{{ forloop.counter0 }}" name="texture_input{{ forloop.counter0 }}"/> 
                        {% endfor %}
                        <input type="submit" value="Render Image"/>
                    </form>
                    <form method="POST" action="save_result/{{product.product_name}}" enctype="multipart/form-data" >
                        <input type="hidden" id="screenshot" name="screenshot"/>
                        <input type="hidden" id="thumbnail" name="thumbnail"/>
                        <input type="submit" value="Save Product Setup"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <script type="text/javascript"  src="{% static 'js/babylon_preview.js' %}"
                                    defer
                                    data-path_to_glb="{{ product.glb_filename }}"
                                    data-background_image="{{ product.background_image }}"
                                    >
    </script>
    {% include "footer.html" %}
   </body>

</html>